<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Show Note</title>
</head>
<body>
    <h1>Note id: <%=note.id%></h1>
    <span>Name: <%=note.name%></span> <br>
    <span>Text: <%=note.text%></span> <br>
    <a href="/notes/<%=note.id%>/edit">edit</a>

    <form action="/notes/<%=note.id%>?_method=DELETE" method="POST">
        <button>Delete</button>
    </form>

    <br>
    <br>
    
    <a href="/notes"><button>Back</button></a>
</body>
</html>